@page "/list"

@attribute [Microsoft.AspNetCore.Authorization.Authorize(Policy = MyPasswordManager.Constants.Policies.HasAccessPasswordList)]

<MudButton @onclick="OnAddNewPassword" Variant="Variant.Filled" Color="Color.Primary">
    Add new password
</MudButton>

<br />
<h3>Password List</h3>
<br />

@if (AllSecrets != null)
{
    <MudTextField @bind-Value="@SearchString" Label="Search" Variant="Variant.Outlined" Adornment="Adornment.End"
              AdornmentIcon="@Icons.Material.Filled.Search" Clearable="true" TextChanged="OnSearch" />

    <br />
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Title</th>
                <th>Notes</th>
                <th>Url</th>
                <th>Login</th>
                <th>Password</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var secret in AllSecrets)
            {
                <tr>
                    <td>@secret.Category</td>
                    <td>@secret.Title</td>
                    <td>@secret.Notes</td>
                    <td>@secret.Url</td>
                    <td>@secret.Login</td>
                    <td>@secret.Password</td>
                    <td>
                        <MudTooltip Text="Edit">
                            <MudIconButton Icon="@Icons.Material.Filled.Edit" aria-label="Edit" OnClick="() => OnEditPassword(secret)"></MudIconButton>
                        </MudTooltip>
                        <MudTooltip Text="Delete">
                            <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="Delete" OnClick="() => OnDeletePassword(secret.Id)"></MudIconButton>
                        </MudTooltip>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
